.top_box
{
	  width: 100%;
  height: 75px;
  background-color: aliceblue;
  margin-top: 33px;
  opacity: 0.6;
  display: inline-block;
}
		.name
		{
			height: 100%;
			width: 430px;
			display: inline-block;
			margin-left: -1336px;
			border-right: solid 2px;
			rgb(135, 135, 172)er-left: solid 2px;
			border-color: antiquewhite;
			font-family: Playball;
			font-size: 65px;
			border: 0px;
			color: black;
		}
		.know_me
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			margin-left: 637px;
			display: inline-block;
			float: left;
			cursor: pointer;
			font-family: Oswald;
			font-size: 26px;
			border: 0px;
			color: black;
		}
		.Compositions
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			display: inline-block;
			float: left;
			cursor: pointer;
			font-family: Oswald;
			font-size: 26px;
			border: 0px;
			color: black;
		}
		.Videos
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			display: inline-block;
			float: left;
			cursor: pointer;
			font-family: Oswald;
			font-size: 26px;
			border: 0px;
			color: black;
		}
		.Get_Involved
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			display: inline;
			float: left;
			cursor: pointer;
			font-family: Oswald;
			font-size: 26px;
			border: 0px;
			color: black;
		}