		.outer_box_left
		{
			height: 640px;
			width: 102%;
			background-color: #F00;
			margin-left: -8px;
			margin-top: -8px;
			background-image: url(./ashu2.jpg);
			background-repeat: no-repeat;
			background-size: 1394px;
		}
		.top_box_left
		{
			height: 100px;
			width: 100%;
			background-color: #000;
			margin-top: 100px;
			display: inline-block;
			opacity: 0.8;
			position: fixed;
		}
		.name
		{
			height: 100%;
			width: 400px;
			display: inline-block;
			margin-left: -1336px;
			border-right: solid 2px;
			rgb(135, 135, 172)er-left: solid 2px;
			border-color: antiquewhite;
			font-family: Playball;
			font-size: 65px;
			border: 0px;
			color: whitesmoke;
		}
		.know_me
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			margin-left: 637px;
			display: inline-block;
			float: left;
			cursor: pointer;
			font-family: Sigmar One;
			font-size: 34px;
			border: 0px;
			border-left: solid 1px;
			border-right: solid 1px;
			color: whitesmoke;
		}
		.Compositions
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			display: inline-block;
			float: left;
			cursor: pointer;
			font-family: Sigmar One;
			font-size: 20px;
			border: 0px;
			border-right: solid 1px;
			color: whitesmoke;
		}
		.Videos
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			display: inline-block;
			float: left;
			cursor: pointer;
			font-family: Sigmar One;
			font-size: 40px;
			border: 0px;
			border-right: solid 1px;
			color: whitesmoke;
		}
		.Get_Involved
		{
			height: 100%;
			width: 175px;
			background-color: transparent;
			display: inline;
			float: left;
			cursor: pointer;
			font-family: Sigmar One;
			font-size: 27px;
			border: 0px;
			border-right: solid 1px;
			color: whitesmoke;
		}
		.right_arrow
		{
			height: 100px;
			width: 100px;
			display: inline-block;
			margin-left: 1251px;
			margin-top: 325px;
			background-image: url(./arrow_right.png);
			background-repeat: no-repeat;
			background-size: 100px;
			cursor: pointer;
			opacity: 0.6;
		}
		.left_arrow
		{
			height: 100px;
			width: 100px;
			display: inline-block;
			margin-left: 10px;
			margin-top: -88px;
			background-image: url(./arrow_left.png);
			background-repeat: no-repeat;
			background-size: 100px;
			cursor: pointer;
			opacity: 0.6;
		}
		.outer_box_center
		{
			height: 640px;
			width: 102%;
			background-color: #F00;
			background-image: url(./ashu2.jpg);
			background-repeat: no-repeat;
			background-size: 1394px;
			margin-left: 1368px;
			margin-top: -640px;
			display: inline-block;
		}
		.outer_box_right
		{
			height: 640px;
			width: 102%;
			background-color: #F00;
			margin-left: 2744px;
			margin-top: -636px;
			background-image: url(./ashu2.jpg);
			background-repeat: no-repeat;
			background-size: 1394px;
		}
		.left_arrow_right
		{
			height: 100px;
			width: 100px;
			display: inline-block;
			background-image: url(./arrow_left.png);
			background-repeat: no-repeat;
			margin-left: 33px;
			margin-top: 322px;
			background-size: 100px;
			cursor: pointer;
			opacity: 0.6;
		}
		.right_arrow_left
		{
			height: 100px;
			width: 100px;
			display: inline-block;
			margin-left: 1264px;
			margin-top: 347px;
			background-image: url(./arrow_right.png);
			background-repeat: no-repeat;
			background-size: 100px;
			cursor: pointer;
			opacity: 0.6;
		}		