.outer_box
{
	width: 100%;
	height: 1060px;
	background-color: black;
	display: inline-block;
	background-image: url("./page2.jpg");
	background-repeat: no-repeat;
	background-size: 1630px;
}
.box
{
	width: 200px;
	height: 200px;	
}
.div1
{
	height: 350px;
	width: 600px;
	margin-left: 20px;
	display: inline-block;
	margin-top: 20px;
	cursor: pointer;
}
.div2
{
	height: 350px;
	width: 600px;
	margin-left: 113px;
	display: inline-block;
	margin-top: 20px;
	cursor: pointer;
}
.box2
{
	height: 100px;
	width: 373px;
	margin-left: 210px;
	margin-top: -151px;
}
.box3
{
	height: 172px;
	width: 360px;
	margin-top: 19px;
	margin-left: 214px;
	display: inline-block;
	opacity: 0.7;
	background-color: yellow;
}
.video
	{
		height: 360px;
		width: 640px;
		margin-top: -626px;
		margin-left: 388px;
		position: fixed;
	}
	.box
	{
		background-image: url('./ashu1.jpg');
		background-size: cover;
	}